body{
  background-image: url("/public/assets/images/webp/karmic-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Space Grotesk',sans-serif !important;
}
.started-btn:hover svg {
fill: white !important;
}